@use "styles" as *;

.header {
  display: flex;
  align-items: center;
  padding: 40px 0 30px 0;
  border-bottom: 4px solid $primaryColor-4;

  & > .name {
    margin-left: 33px;
  }

  & > .cart {
    margin-left: auto;

    & > button {
      border: none;
      background: none;
    }
  }
}
